extend navbar

block content2
  .row
    .item2.img01
      .title.text.noselect#accueil accueil
    .overflow
      img(src="/images/accueil/1.2.jpg" id="imgtop")
  .row
    img(src="/images/accueil/2.2.jpg" id="imgleft")
    .blocktextp
      .title.blue L’âme de l’entreprise
      .text-uppercase.blue <br><br><br> Qu’est-ce l’âme ? 
      |<br><br>L’âme qui circule dans notre sang et dans notre cœur, nous permet 
      |de garder intacts en nous, le sens de l’amour et le désir d’amour.
      .blue <br><br> C'est ce qui fait votre identité.  
      .text-uppercase.blue <br><br><br> Et l’âme de l’entreprise ?
      |<br><br>L’âme de l’entreprise se pare de toutes ces énergies qui circulent en chaque être humain ; chaque salarié est porteur de ce sens d’amour manifesté, exprimé par sa nécessité de reconnaissance de sa place et de son rôle et …
      .blue partager sa culture, son humanisme et son humanité pour être et faire ensemble.
