extend navbar

block content2
  .row
    .item2.img09
      .title.text.noselect#contact contact
    .overflow
      img(src="/images/contact/1.2.jpg" id="imgtop" onmousedown="return false;")
  .row
    img(src="/images/contact/2.2.jpg" id="imgleft" onmousedown="return false;")
    .blocktextp
      if successMessage
        .alert.alert-success #{successMessage}
      if errorMessage
        .alert.alert-danger #{errorMessage}
      .title.blue Contactez-nous
      form(action="/contact" method="post")
        |<br> Adresse mail* :<br>
        input(class="msg" type="text" name="email")
        |<br><br>Nom* :<br>
        input(class="msg" type="text" name="name")
        |<br><br>Numéro de téléphone :<br>
        input(class="msg" type="text" name="phone")
        |<br><br>Message* :<br>
        textarea(class="msg" rows="6" cols="50" name="message")
        |<br><br>
        input(class="border big button" type="submit" value="Envoyer")
      |<br><br>Tél. : +33 4 78 95 37 71 / +33 6 07 91 03 41
      br
      |<br><br>Directrice de publication : FRANCOISE VALLA
      |<br>Photographe : FLORENCE CHAPUIS
      |<br>Design graphique : BRUNO CHIAPELLO
