extend navbar

block content2  
  .row
    .item2.img04
      h1(class="text-uppercase text noselect" id="demarche") démarche
    .overflow
      img(src="/images/demarche/2.2.jpg" id="imgtop")
  .row
    img(src="/images/demarche/3.2.jpg" id="imgleft")
    .blocktextp
      h1 Le temps à la parole
      | <br>À la rencontre de votre univers, 
      | <br> A la rencontre de votre identité,
      | <br> À la rencontre de ce contexte particulier qui a favorisé chaque étape de vie, 
      | <br> À la rencontre des habitants de l’entreprise ; les précurseurs, ceux « qui savent » et ceux qui n’osent pas dire, 
      |les ingénieux comme les appliqués, les électrons un peu libres, les râleurs, les joyeux et boute-en-train,
      |…tous ceux et celles qui accomplissent à leur manière, le travail confié.
      | <br> Tous ont une appréciation à faire, 
      | <br> Tous racontent votre histoire, 
      | <br> Tous détiennent une partie de la réalité !
      h1 <br> Le temps à l’écriture 
      |<br>Après la rencontre de ces mémoires historiques, actuelles, prépondérantes …
      | <br> • Approfondir ce qui doit l’être
      | <br> • Laisser parler les vérités, 
      | <br> • Traduire les réalités lorsqu’elles sont partagées 
      | <br> • Et construire cette ligne de cohérence si « propre à chacun » 
      h1 <br> Le temps à l’image 
      |<br>Pour en faire un article, un reportage, un feuilleton, un livre, 
      | de sa conception graphique, photographique jusqu’à l’impression. 
      | <br> Et faire de cet ouvrage une mémoire collective #[strong vivante] dédiée à l’ensemble des salariés, 
      | comme un point dans l’histoire avant, peut-être, de changer de trajectoire !
