extend navbar

block content2
  .row
    .item2.img03
      .title.blocktext3.noselect#entreprise l'entreprise <br/> et sa <br/> biographie
    .overflow
      img(src="/images/entreprise/1.2.jpg" id="imgtop" onmousedown="return false;")
  .row
    img(src="/images/entreprise/2.2.jpg" id="imgleft" onmousedown="return false;")
    .blocktextp 
      |L’entreprise est un lieu marqué de symboliques; l’organisation et l’utilisation de l’espace, 
      |sa communication, son rythme, ses rites, une charte d’entreprise sorte de déclinaison idéale, 
      |... Tous ces éléments intrinsèques cohabitent, se mêlent, s’adaptent et parfois se défont, au fur et à mesure des étapes franchies. 
      
      | <br> <br> Et qui par la même, portent peu ou prou une partie de <em> notre mémoire </em>
      |souvent occultée !
      |Quant aux hommes qui constituent ce cœur, cette essence et cette vie même, 
      |mesurer sa propre contribution lorsqu’elle est pointée et notée, représente pour chacun et 
      |bien au-delà d’une reconnaissance,<em> une fierté indéniable et partagée avec ce sens indéfectible 
      |qu’apporte l’action perpétrée au fil du temps; </em> 
      |une raison d’être ou d’avoir été. 

      | <br> <br> Enfin, avec les mutations qu’elles soient technologiques, économiques, 
      |financières ou sociétales, l’entreprise éprouve le besoin de renouer avec ses 
      |origines pour en distiller le chemin parcouru.
      .blue Car comprendre son chemin de vie, permet d’ancrer, parfois accepter ce que nous sommes et, se projeter …à l’infini ! 
      
      | <br> Et laissons à Thucydide le soin d’apporter un autre éclairage comme il 
      |le rapporte dans son discours « histoire de la guerre du Péloponnèse » :
      .italique
        |« […] Je commencerai donc par nos aïeux. Car il est juste et équitable, dans de 
        |telles circonstances de leur faire l’hommage d’un souvenir. Cette contrée 
        |que sans interruption ont habité des gens de même race, est passée de mains 
        |en mains jusqu’à ce jour, en sauvegardant grâce à leur valeur sa liberté. 
        |Ils méritent des éloges mais nos pères en méritent davantage encore. 
        .blue A l’héritage qu’ils avaient reçu ils ont ajouté et nous ont légué, au prix de 
          |mille labeurs la puissance que nous possédons.
        | <br>Nous l’avons accrue, nous qui vivons encore et qui sommes parvenus à la pleine maturité… La gloire de la 
        |république, qui m’a inspiré, éclate dans la valeur de ces soldats et de leurs pareils.
        .blue Leurs actes sont à la hauteur de leur réputation…». 
