extend navbar

block content2
  .row
    .item2.img06
      .title.text.noselect.no-font#ethique éthique
    .overflow
      img(src="/images/ethique/1.2.jpg" id="imgtop" onmousedown="return false;")
  .row
    img(src="/images/ethique/2.2.jpg" id="imgleft" onmousedown="return false;")
    .blocktextp
      |L’éthique vient d’une étude sérieuse permettant d’avoir une connaissance 
      |sur des faits établis et prouvés. Elle va permettre de développer ce qui est 
      |important pour chaque entreprise à travers ce que les salariés ont compris, 
      |à travers la conception de chacun.

      |<br><br>Parce que nous restons dans l’éthique, notre étude et analyse de chaque 
      |entreprise, <em> grâce à l’éthique, </em>
      |permet d’amorcer, formaliser, étayer ou tout simplement revisiter <em> le code de déontologie de chaque entreprise. </em>
      
      .text-uppercase.blue
        |<br><br><br><br>La réalité est ce qui nous indique tout ce qui 
        |permet la découverte de la vérité qui est unique selon un 
        |être et peut être multiple vue par plusieurs êtres.

        |<br><br>Le respect est la condition de reconnaissance des humains entre eux.

        |<br><br>La valeur de chacun doit être accordée pour son individualisme toujours 
        |unique et nécessaire en rapport aux autres.

        |<br><br>L'innovation et l'échange sont nécessaires au bien être de tous, 
        |il faut les privilégier par déontologie pour amener les accords et l’harmonie entre tous.
