extend navbar

block content2
  .row
    .item2.img02
      .title.text.noselect#pourquoi pourquoi
    .overflow
      img(src="/images/pourquoi/1.2.jpg" id="imgtop")
  .row
    img(src="/images/pourquoi/2.2.jpg" id="imgleft")
    .blocktextp
      .text-uppercase.blue
        | La mémoire est au temps ce que le savoir est à l’homme 
        |<br> Un repère, un positionnement, une identité, tel un dogme 
        |<br> Là où chacun apporte sa vision, ses anecdotes, son ressenti
        |<br> Pour constituer et faire exister ce tout sans démenti
        |<br><br> C’est ce sur quoi et avec qui, vous vous êtes construits
        |<br> Et qui permet de dire : « c’est une partie de ma vie » !
        |<br> Rendre visible ce que vous êtes et qui n’existe nulle part ailleurs 
        |<br> Pour partager un peu de vos sueurs, un peu de vos bonheurs 
        |<br> <br> N’est-ce pas un juste et heureux retour sur vos investissements 
        |<br> Que de vouloir donner la parole à la mémoire et au temps ?
        |<br> Et cueillir ainsi votre richesse, pour nous conquise,
        |<br> Lorsque nous touchons l’âme de votre entreprise 
      |<br> <br> <br>« Le storytelling » est l’art de véhiculer des histoires, dans un sens d’éducation.
      |Cette éducation doit nous permettre de faire passer en priorité le respect de l’autre, le respect pour l’autre. 
      .blue Et lorsque nous parviendrons à avoir une éducation qui nous donne cette réaction instinctive la meilleure, alors nous pourrons nous sentir dans un bien-être exceptionnel ! 
      |<br> <br> <br>La crédibilité de l’entreprise, sa responsabilité, la place laissée à la « parole » de ses salariés, de sa direction, tout cet ensemble repose sur certains principes : 
      .blue éthique - vérité, réalité et certitude - respect et égalité.
