extend navbar

block content2
  .row
    .item2.img05
      .title.blocktext.noselect#qui qui <br/> sommes-nous
    .overflow
      img(src="/images/qui/1.2.jpg" id="imgtop")
  .row
    img(src="/images/qui/2.2.jpg" id="imgleft")
    .blocktextp
      .row
        .block
          .blue.text-uppercase Françoise VALLA 
          |dont l’inspiration de tout temps est liée à la compréhension de l’être 
          |humain, avec ce souffle passionné pour les mots, les parcours, les vies.
          a(href="http://www.philo-vie.com/") <br>Philovie
          |<br>Une vie professionnelle dédiée à la relation humaine. 
          a(href="http://monade-conseil.com/") <br> Monade Conseil
        .block
          .blue.text-uppercase Jean-Pierre AMIN
          |le spécialiste « réseaux »
          |<br>Toujours à la rencontre de l’autre avec l’esprit ouvert et, 
          |c’est avec cette mobilité curieuse, sensible et « sans frontière », 
          |que s’exprime sa force.
        .block
          .blue FLORENCE CHAPUIS et BRUNO CHIAPELLO
          |Une direction artistique pilotée par une photographe et un graphiste. 
          |Une équipe qui partage le même entrain, la même passion pour la recherche, 
          |la création, l’esthétisme et le genre humain.
          a(href="http://plus.eu.com/") <br>plus.eu.com
