extend navbar

block content2
  .row
    .item2.img7
      h1.text-uppercase.blocktext3.noselect#respect respect <br/>et <br/>égalité
    .overflow
      img(src="/images/respect/1.2.jpg" id="imgtop")
  .row
    img(src="/images/respect/2.2.jpg" id="imgleft")
    .blocktextp
      |<br><br>Le respect, c’est conférer à l’autre une place plus grande que la sienne. 
      |L’égalité, c’est savoir reconnaître l’autre exactement comme soi, pareil à soi. 
      |<br><br>Le respect est toujours fonction du bien-être des autres avant le sien en propre.
      |<br>Le sens du respect, c'est savoir respecter ce qui est respectable mais qui 
      |n'est pas forcément ce que l'on a envie de voir respecté.
      |<br><br>L'état de respect que nous devons trouver, définir, intégrer, garder en nous, 
      |nous permettra toujours de rester équilibrés face à l'amour et à son opposition, la haine. 
      |<br>C'est la notion de respect bien aspectée qui nous conditionnera à être dans le bon équilibre et à aimer la vie.
      |<br><br>L’égalité signifie être uni dans un sens de recherche identique et de personnalités 
      |qui peuvent à tout instant se compléter, être égales dans le sens de toutes 
      |les applications ; une égalité peut absolument se révéler au niveau d'une 
      |action différente mais ayant la même importance que celle que l'autre effectue.
      strong <br><br><br><br>Et donner ainsi à chacun, sa place et son rôle !
