extend navbar

block content2
  .row
    .item2.img08
      h1.text-uppercase.blocktext3.noselect#verite vérité, <br/>réalité et <br/>certitude
    .overflow
      img(src="/images/verite/1.2.jpg" id="imgtop")
  .row
    img(src="/images/verite/2.2.jpg" id="imgleft")
    .blocktextp
      strong <br><br>La certitude, c’est définir un fait. 
      |<br>Avoir une certitude, voir une certitude et émettre une certitude, 
      |c’est que cette chose là existe de façon tangible et qu’elle peut être 
      |prise en compte parce qu’elle est visible et que l’on peut la retenir et la comprendre de façon tangible.
      strong <br>La certitude appartient aux êtres qui voient les mêmes choses en même temps et qui peuvent se les partager.


      |<br><br>La réalité c'est l'action.
      |<br>La réalité, ce sont les états de fait ; c'est ce qui existe, qui est physique, que l'on voit. 
      |<br>La réalité, c’est l’existence.

      |<br><br>La vérité, c’est la logique. 
      |<br>La vérité se trouve dans la pensée et dans les mots.
      strong <br>La vérité ne peut que s'appuyer sur une réalité. 

      strong <br> <br>C'est la réalité qui met la vérité en place et ce n'est pas la vérité qui crée la réalité.

      |<br><br>La vérité et la réalité ne peuvent être tangibles, ne peuvent être 
      |comprises que s’il y a certitude et sûreté des choses. En d’autres termes, 
      |lorsqu’une vérité est établie, il faut qu’il y ait la certitude qui 
      |s’installe avec elle pour que nous puissions croire à cette vérité.
      
      .text-uppercase
        strong <br><br><br>Pour donner du poids à l’ouvrage
          |<br><br>Pour densifier le partage de votre mémoire
          |<br><br>Pour rendre irréfutable votre histoire
